@charset "UTF-8";
/* CSS Document */

body {

	font-family: 'Playfair Display', serif;
 	font-weight: 100;
 	font-size: 21px;
	background-color:#000;
	color: #FFF;

}

@font-face {
	font-family: 'Savate';
	src: url('https://github.com/CollectifWech/Savate/blob/master/otf/savate-regular.otf');	
}

h1 {
	color:yellow;
	text-decoration: underline;
	font-size: 34px;
	padding-left: 10px;
	font-family: 'Savate';
}

h4 {
	font-size: 18px;
	text-decoration: underline;
	padding-bottom: 20px;
}

a {
	color:yellow;
}

a:hover {
	color:#FFF;
}

.list {
	padding-top: 30px;
}
