@charset "UTF-8";
/* CSS Document */

body {

	font-family: 'Playfair Display', serif;
 	font-weight: 100;
 	font-size: 21px;
	background-color:#000;
	color: #FFF;

}

h1 {
	color:yellow;
	text-decoration: underline;
	font-size: 34px;
}

h4 {
	font-size: 18px;
	text-decoration: underline;
	padding-bottom: 15px;
}

a {
	color:yellow;
}

a:hover {
	color:#FFF;
}

.list {
	padding-top: 15px;
}
