@charset "UTF-8";
/* CSS Document */

body {

	font-family: 'Playfair Display', serif;
 	font-weight: 100;
 	font-size: 21px;
	background-color:#000;
	color: #FFF;
}

@font-face {
	font-family: 'Conv_savate-regular';
	src: url('fonts/savate-regular.eot');
	src: local('Users/Tinmar/Downloads/savate-regular/fonts'), url('fonts/savate-regular.woff') format('woff'), url('fonts/savate-regular.ttf') format('truetype'), url('fonts/savate-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family: 'Conv_savate-regular';
	color:yellow;
	font-size: 34px;
	padding-left: 10px;
}

h4 {
	font-family: 'Conv_savate-regular';
	font-size: 18px;
	text-decoration: underline;
	padding-bottom: 20px;
}

a {
	color:yellow;
}

a:hover {
	color:#FFF;
}

.list {
	padding-top: 25px;
}
